// Place all the styles related to the Histogram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bounds {
  display: inline-block;
  background-color: #EAF1F3;
  padding: 1px 10px 10px 10px;
  margin-left: 20px;
  border: 2px solid #D6E5EC;
  border-radius: 5px;
}

#histogram {
  display: inline-block;
  background-color: #EAF1F3;
  padding: 1px 10px 10px 10px;
  border: 2px solid #D6E5EC;
  border-radius: 5px;
}

#histogramTable tr {
  height: 10px;
}

.container {
  margin-top: 50px;
}

.error-message {
  color:red;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#bounds h4, #histogram h4 {
  color: red;
}

table td {
    border-top: none !important;
}

tr {
  height: 50px;
  text-align: left;
}

td {
  width: 30%;
}

input {
  padding-right: 5px;
  text-align: right;
  height: 20px;
  width: 40%;
}

span {
  height: 10px;
}
